@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* background-color: black;
    color: #fff; */

}

:root {
    --White: #fff;
    --input-color: #f1f2f6;
    --login-btn: #6c5ce7;
    --red: red;
    --black: #2d3436;
    --gray: #dfe6e9;
}

html {
    font-size: 16px;
}

#root {
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Optional: Change the background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Optional: Change the color of the scrollbar handle */
    border-radius: 5px;
    /* Optional: Add rounded corners to the scrollbar handle */
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* overflow-y: inherit;
    overflow-x: hidden;
    scrollbar-width: 10px;
    -ms-overflow-style: 10px; */

}
.Rout-Box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
     overflow-y: inherit;
    overflow-x: hidden;
    scrollbar-width: 10px;
    -ms-overflow-style: 10px;
   
    scrollbar-width: 1px;
}

/* login form  */
.login {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form{
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    /* align-items: center; */
    user-select: none;




}

.login-form-2 {
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    user-select: none;
    filter: blur(3px)
}

.login-form h2,
.login-form-2 h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;

}

#username,
#conform-password,
#new-password {
    border: none;
    margin-bottom: 30px;
    height: 50px;
    background-color: var(--input-color);
    padding: 0 10px;
    border-radius: 5px;
    text-transform: lowercase;


}

#password {
    border: none;
    height: 50px;
    background-color: var(--input-color);

    padding: 0 10px;
    border-radius: 5px;


}

#username,
#password,
#conform-password,
#new-password:focus {
    outline: none;
}

#username,
#password,

#new-password::placeholder {
    font-weight: 500;
   text-transform: capitalize;
}

.yyy::placeholder {
    color: red;
}

.alam1 {
    position: absolute;
    top: 128px;

    color: var(--red);
    font-weight: 600;

}

.alam2 {
    position: absolute;
    top: 208px;

    color: var(--red);
    font-weight: 600;

}

.login-form .login-btn,
.login-form-2 .login-btn,
.update-btn {
    border: none;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
}

.login-form .forgot,
.login-form-2 .forgot {
    width: 100%;
    text-align: end;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    /* font-size: 0.9rem; */
}

.signup{
    width: 100%;
    height: 100%;
  
    text-align: center;
    font-weight: 500;
    margin-top: 10px;

}

.signup-btn {
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
    margin-top: 44px;

}

.login-form a {
    text-decoration: none;


}

.message {
    position: absolute;
    top: 10%;
    font-weight: 600;
    width: fit-content;

    text-align: center;
    text-transform: capitalize;
    background-color: var(--black);
    color: var(--White);
    padding: 5px;
    border-radius: 5px;
}



/* reset password-------------------------------------------------------------------------------------------------------------------------  */

.human-check-box {
    min-width: 300px;
    min-height: 300px;
    background-color: var(--input-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: none;




}

.human-check-box-2 {
    min-width: 300px;
    min-height: 300px;
    background-color: var(--input-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: flex;




}

.human-check-box h2,
.human-check-box-2 h2 {
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    font-weight: 900;

}

.human-check-box p,
.human-check-box-2 p {
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.human-check-box input,
.human-check-box-2 input {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    height: 30px;
}

.human-check-box input:focus,
.human-check-box-2 input:focus {
    outline: none;
}

.human-check-box button,
.human-check-box-2 button {
    border: none;
    border-radius: 5px;
    background-color: var(--login-btn);
    color: var(--White);
    width: 100px;
    margin-top: 10px;
    font-weight: 600;

}

.Alert {
    outline: 1px solid red;
}

/* updatepassword--------------------------------------------------------------------------------- */
.alam3 {
    position: absolute;
    top: 155px;
    color: var(--red);
    font-weight: 600;



}

.alam4 {
    position: absolute;
    top: 235px;
    color: var(--red);
    font-weight: 600;
}

/* Profileedit-form-------------------------------------------------------------------------------------- */
.Profileedit-form {
    max-width: 700px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;


}

.Profileedit-form input,
.Profileedit-form select {
    margin-bottom: 30px;
    height: 40px;

    border: none;
    border-bottom: 2px solid;

    padding: 0 10px;
}

.Profileedit-form input:focus {
    outline: none;
}

.heading {

    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.box-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


}

.img-box {

    width: 100px;
    height: 100px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.image {
    display: none;

}

.image-lable {
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;

}

#Username-lable,
#name-lable,
#bio-lable,
#genter {
    font-weight: 600;
}

.Profileedit-form button {
    border: none;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
}


.Profileedit-form select {
    /* Style for the select element */
    width: 200px;
    padding: 10px;

    font-size: 16px;
    color: #333;
    background-color: #fff;

}

.Profileedit-form select option {
    /* Style for the options */
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: 400px;
}

/* Hover effect for options */
.Profileedit-form select option:hover {
    background-color: #f0f0f0;
}

/* Selected option style */
.Profileedit-form select option:checked {
    background-color: #ccc;
    color: #fff;
    border: none;
}

.Profileedit-form select :checked {
    background-color: #ccc;
    color: #fff;
    border: none;
}


/* home-------------------------------------------------------------------------------------------------------- */
.home {
    width: 100%;
  

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: start; */
    gap: 10px;
    /* overflow-y: scroll; */



}
.home-1{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: start; */
    gap: 10px;
    /* overflow-y: scroll; */}

header {
    width: 100%;
    height: 30px;
    position: sticky;
    top: 0%;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c5ce7;
    z-index: 100;
}

header .notify-icon {
    height: 100%;
    width: 100%;
    font-size: 30px;

}

header .notify-icon a {

    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: end; */
    margin-left: auto;
    color: var(--black);
    padding-right: 5px;
}

header h3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    padding-left: 10px;

    margin: 0;
    font-style: italic;
    font-weight: 600;
}



/* feed */
.feed {
    /* max-width: 700px; */
    width: 100%;
    height: 100%;
 
    padding: 0 5px;
    display: flex;
    flex-direction: column;

    gap: 5px;
}



.article {
    width: 100%;
   min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #b2bec3;
    padding-bottom: 5px;
  
}
.article a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    aspect-ratio: 1;
    border-radius: 5px;
    padding: 5px;
    
    
    
}
.article a .post-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: h;

}
.article a  .post-img  img{
/* min-width: 350px;
max-width: 500px; */
width: 300px;
aspect-ratio: 1;

 border-radius: 5px;
 background-color: #333;


}

.article .box-1 {
    width: 100%;
    /* height: 100px; */
    padding: 5px;
    display: flex;
    gap: 10px;
    /* background-color: red; */

}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
}

.article .box-2 {
    display: flex;
    flex-direction: column;

    gap: 2px;

}

.article .box-2 .name {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.3rem;

}

.article .content {
    width: 100%;
    min-height: 10px;
    max-height: 30px;
    /* background-color: #6c5ce7; */
    font-size: 1.2rem;
    font-weight: 400;
}

.article .content p {
    margin: 0%;
    padding: 0 10px;
}





.article .btn-group {
    padding:0  5px;
    display: flex;
    width: 100%;
    /* height: 40px; */
    gap: 5px;
    margin-top: 5px;
  
}

.article .btn-group button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    padding: 5px 0px;

}





/* footer */
footer {
    width: 100%;
    height: 30px;
    padding: 2px 0;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--White);
    background-color: var(--login-btn);


}

footer .a,
footer p {
    color: var(--White);
    font-size: 25px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2d3436;

}




/* status */
.search {
    width: 100%;
    height: 100%;


}

.custom-add-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--White);
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    background-color: #6c5ce7;
}


/* videos */
.videos {

    width: 100%;
    height: 100%;
}

/* add post */
.addpost {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
  

}
.addpost button{
    border: none;
    
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    margin-top: 5px;

}

.article-2 {
    padding: 10px;
    border: none;
}

.article-box-1 {
    width: 100%;
    /* height: 100px; */
    padding: 0px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;

}



#post-content {
    width: 100%;
    /* min-height: 20px; */
    max-height: 100px;
    padding: 10px;
    border: none;
    background-color: var(--input-color);
    border-radius: 5px 5px;
}

#post-content:focus {
    outline: none;
}

#photo {
    display: none;
}

.post-img {
    width: 100%;
    /* min-height: 200px; */
    max-height: 500px;
    height: 100%;
    display: flex;
    /* background-color: #6c5ce7; */
    overflow:hidden ;


}

.date {
    font-size: 0.8rem;
}

.post-img .photo {
    width: 100%;
    
    min-height: 200px;
    height: 100%;
    background-color:var(--black);
    font-size: 2rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0 5px 5px;
    overflow: hidden;
    border: none;
    padding: 0;
}
.post-img label img{
    width: 100%; 
    min-height: 200px;
    height: 100%;
    border-radius: 0px 0 5px 5px;
}




/* popep-btn */
.popep-btn {

    border-radius: 5px;
    background-color: var(--White);
    height: 50px;

    position: fixed;
    display: flex;
    gap: 15px;
    /* padding: 10px; */

    bottom: -100px;



}

.popep-btn h2 {
    font-weight: 600;
    margin: 0;

}

.popep-btn button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    line-height: 30px;
    background-color: var(--gray);
    font-size: 1.4rem;

}

.popep-btn a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    font-size: 1rem;
}

#status-post {
    display: none;
}

.popep-btn .btn {
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 50px;
    font-size: 1.2rem;
}

/* profile */
.profile {
    width: 100%;
    height: 100%;

}

/* status */
.status {
   
    min-height: 200px;
    width: 100%;
   
 
    border-bottom: 3px solid #b2bec3;
    border-top: 3px solid #b2bec3;
    padding: 5px;
    display: flex;
 
   

    align-items: center;
    gap: 5px;
    margin: 0;
    /* overflow: hidden; */
}
.status .btn{
    width: 100px;
    /* height: 200px; */
    height: 100%;
    padding: 0;
    margin: 0;

}



.create-status {
    width: 100px;
    height: 100%;
 

    

    border-radius: 5px;
    ;
    background-color: var(--White);
    border: 1px solid #b2bec3;
}

.create-status label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

.create-status .box-1 {
    width: 100%;
    height: 100%;
    background-color: #888;


}

.create-status .box-2 {
    width: 100%;
    height: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.create-status .box-2 p {
    width: 100%;
    margin: 0%;
    text-align: center;

}

.status-icon {


    position: absolute;
    top: -15px;
    left: 35px;



}

.icon-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--White);
    background-color: #333;

}
.post-status{
   
    width: 100%;
    height: 100%;
    gap: 5px;
    /* overflow-x: scroll; */
    display: flex;
}
.each-post{
    width: 100px;
    min-width: 100px;
    height: 100%;
    /* background-color: red; */
    display: flex;
    
    border-radius: 5px;
    overflow: hidden;

}
.each-post img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  
}

/* Add status */
.Addstatus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

}

.Addstatus .status-img-box {
    width: 300px;

   height: 300px;

    background-color:var(--black);
    border-radius: 5px 5px 0 0;
    /* margin-bottom: 5px; */
    object-fit: cover;


}
.Addstatus .status-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.Addstatus textarea{
    min-width: 300px;

    min-height: 50px;
    padding: 5px;
    border-radius: 5px;
    

}
.Addstatus textarea:focus{
    outline: none;
}
.Addstatus button{
    border: none;
    
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
}

/* click-status */
.click-status{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--black);  */
}
.click-status img{
    width: 90%;
    height: 90%;
    background-color: #888;
    border-radius: 5px;
}

/* clickpost */
.clickpost{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
   /* flex-direction: column; */
    justify-content:center;
    align-items: center;
}
.clickpost .article{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;

}
.clickpost .article .post-img{
    width: 100%;
    height: 100%;

    overflow: hidden;

}
.clickpost .article .box-3 .content{
    margin-bottom: 10px;
   

}
.clickpost .article .post-img img{
    width: 100%;
    height: 100%;

    /* overflow: hidden; */

}


/* Search */
.search{
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    
   
   

}
.search input{
    width: 100%;
    height: 40px ;
    border-radius: 5px;
    padding: 0 10px;
    background-color: var(--input-color);
    border: none;
    border: 1px solid   ;
    margin-bottom: 10px;
}
.search input:focus{
    outline: none;

}
.search .feed{
    padding: 0;
}



/* profile page */
.profile{
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    padding: 5px;
    /* background-color: red; */
}
.profile-photo{
    width: 100%;
    height: 100px;
   
    display: flex;
    justify-content: center;
    
    align-items: center;
    /* margin-top: 10px; */
   
}
.profile-photo .photo-box{
  
    background-color: var(--input-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
   display: flex;
   
   align-items: center;
   justify-content: center;
   /* color: var(--White); */
   font-weight: 600;
}
.profile-photo .photo-box p{
    margin: 0;
}
.profile-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}
.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    

    /* justify-content: space-between; */
    
}
.form-box label{
    font-weight: 700;

}
.form-box .box{
    
    height: 40px;
    border: 3px solid var(--input-color);
    background-color: var(--input-color);
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.form-box .box p{
    margin: 0;
}
.form-box input:focus{
    
   outline: none;
}

.form-box .box-bio{
    width: 100%;
    height: 100px;
    background-color: var(--input-color);
    padding: 10px;
    border: 3px solid var(--input-color);
}
.profile-details .edit-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    border: 3px solid var(--input-color);
}
.signout-btn{
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    border: 3px solid var(--input-color);
    color: var(--red);
}


