@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* background-color: black;
    color: #fff; */

}

:root {
    --White: #fff;
    --input-color: #f1f2f6;
    --login-btn: #6c5ce7;
    --red: red;
    --black: #2d3436;
    --gray: #dfe6e9;
    --back-btn:#ced6e0;
    --uplode-btn:#5352ed;
    --popep-btn:#57606f ;
}

html {
    font-size: 16px;
}

#root {
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  
}

::-webkit-scrollbar {
    width: 5px;
    /* Adjust the width as needed */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Optional: Change the background color */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    /* Optional: Change the color of the scrollbar handle */
    border-radius: 5px;
    /* Optional: Add rounded corners to the scrollbar handle */
}

.App {
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    scrollbar-width: none;
    /* overflow: hidden; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    margin: 0;


}

.Rout-Box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-y: inherit;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: 10px;

    scrollbar-width: 1px;
    /* background-color: #ffffffd2; */
    background-color: #fff;
}

/* login form  */
.login {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-form {
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    /* align-items: center; */
    user-select: none;




}

.login-form-2 {
    width: 90%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    justify-content: center;
    user-select: none;
    filter: blur(3px)
}

.login-form h2,
.login-form-2 h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;

}

#username,
#conform-password,
#new-password {
    border: none;
    margin-bottom: 30px;
    height: 50px;
    background-color: var(--input-color);
    padding: 0 10px;
    border-radius: 5px;
    text-transform: lowercase;


}

#password {
    border: none;
    height: 50px;
    background-color: var(--input-color);

    padding: 0 10px;
    border-radius: 5px;


}

#username,
#password,
#conform-password,
#new-password:focus {
    outline: none;
}

#username,
#password,

#new-password::placeholder {
    font-weight: 500;
    text-transform: capitalize;
}

.yyy::placeholder {
    color: red;
}

.alam1 {
    position: absolute;
    top: 128px;

    color: var(--red);
    font-weight: 600;

}

.alam2 {
    position: absolute;
    top: 208px;

    color: var(--red);
    font-weight: 600;

}

.login-form .login-btn,
.login-form-2 .login-btn,
.update-btn {
    border: none;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
}

.login-form .forgot,
.login-form-2 .forgot {
    width: 100%;
    text-align: end;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
    /* font-size: 0.9rem; */
}

.signup {
    width: 100%;
    height: 100%;

    text-align: center;
    font-weight: 500;
    margin-top: 10px;

}

.signup-btn {
    width: 100%;
    border: none;
    margin-top: 20px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
    margin-top: 44px;

}

.login-form a {
    text-decoration: none;


}

.message {
    position: absolute;
    top: 10%;
    font-weight: 600;
    width: fit-content;

    text-align: center;
    text-transform: capitalize;
    background-color: var(--black);
    color: var(--White);
    padding: 5px;
    border-radius: 5px;
}



/* reset password-------------------------------------------------------------------------------------------------------------------------  */

.human-check-box {
    min-width: 300px;
    min-height: 300px;
    background-color: var(--input-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: none;




}

.human-check-box-2 {
    min-width: 300px;
    min-height: 300px;
    background-color: var(--input-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    display: flex;




}

.human-check-box h2,
.human-check-box-2 h2 {
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
    font-weight: 900;

}

.human-check-box p,
.human-check-box-2 p {
    margin: 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.human-check-box input,
.human-check-box-2 input {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    height: 30px;
}

.human-check-box input:focus,
.human-check-box-2 input:focus {
    outline: none;
}

.human-check-box button,
.human-check-box-2 button {
    border: none;
    border-radius: 5px;
    background-color: var(--login-btn);
    color: var(--White);
    width: 100px;
    margin-top: 10px;
    font-weight: 600;

}

.Alert {
    outline: 1px solid red;
}

/* updatepassword--------------------------------------------------------------------------------- */
.alam3 {
    position: absolute;
    top: 155px;
    color: var(--red);
    font-weight: 600;



}

.alam4 {
    position: absolute;
    top: 235px;
    color: var(--red);
    font-weight: 600;
}

/* Profileedit-form-------------------------------------------------------------------------------------- */
.Profileedit-form {
    max-width: 700px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;


}

.Profileedit-form input,
.Profileedit-form select {
    margin-bottom: 30px;
    height: 40px;

    border: none;
    border-bottom: 2px solid;

    padding: 0 10px;
}

.Profileedit-form input:focus {
    outline: none;
}

.heading {

    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
}

.box-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;


}

.img-box {

    width: 100px;
    height: 100px;
    background-color: var(--black);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.image {
    display: none;

}

.image-lable {
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;

}

#Username-lable,
#name-lable,
#bio-lable,
#genter {
    font-weight: 600;
}

.Profileedit-form button {
    border: none;
    margin-top: 10px;
    height: 50px;
    border-radius: 5px;
    font-weight: 600;
    background-color: var(--login-btn);
    color: var(--White);
}





/* home-------------------------------------------------------------------------------------------------------- */
.home {
    width: 100%;


    display: flex;
    flex-direction: column;

    gap: 10px;




}

.home-1 {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

}

header {
    width: 100%;
    height: 30px;


    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c5ce7;
    background-color: black;
    color: #fff;
    z-index: 100;
}

header .notify-icon {
    height: 100%;
    width: 100%;
    font-size: 30px;

}

header .notify-icon a {

    font-size: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: end; */
    margin-left: auto;
    color: var(--black);
    padding-right: 5px;
}

header h3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: start; */
    padding-left: 10px;

    margin: 0;
    font-style: italic;
    font-weight: 600;
}



/* feed------------------------------------------------------------------------------------- */
.feed {
   
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 10px;
}



.article {
    width: 100%;
    height: fit-content;
    align-items: center;
    border-radius: 5px;
    /* padding-bottom: 5px; */
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;


}

.article .feed-2{
    width: 100%;
    height: fit-content;
}
.article .feed-2 .content{
    width: 100%;
    height: fit-content;
    max-height: 100px;
    overflow-y: scroll;
}
.article .feed-2 .content {
    width: 100%;
    height: fit-content;
    max-height: 100px;
    overflow-y: scroll;
}
.article .feed-2 a{
    width: 100%;
    height: fit-content;
    display: flex;
   
}
.article .feed-2 a img{
    width: 100%;
    height: fit-content;
    /* min-width: 200px; */
    min-height: 250px; 
  
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
    margin: auto;

   
}
/* -------- */
.article .box-1 {
    width: 100%;

    /* padding: 0 8px; */
    display: flex;
    align-items: center;
    gap: 5px;


}




.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;

}

.profile-image img {
    width: 100%;
    height: 100%;
    background-color: #2d3436;
}

.article .box-2 {
    display: flex;
    flex-direction: column;

   

}

.article .box-2 .name {
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.2rem;

}








.article .content p small {
    font-weight: 600;
    color: blue;
}





.article .btn-group {
    /* padding: 0 5px; */
    display: flex;
    width: 100%;
    gap: 5px;
    margin-top: 5px;

}

.article .btn-group button {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 30px;
    font-size: 24px;
 

}





/* footer */
footer {
    width: 100%;
    height: 30px;
    padding: 2px 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
    background-color: var(--login-btn);
    background-color: black;
    color: #fff;


}

footer .a,
footer p {
    color: var(--White);
    font-size: 25px;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}




/* search---------------------------------------------------------------------------------------------------------------------------- */
.search {
    width: 100%;
    height: 100%;


}

.custom-add-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--White);
    font-weight: 300;
    text-align: center;
    line-height: 30px;
    font-size: 30px;
    background-color: #6c5ce7;
}


/* videos ---------------------------------------------------------------------------------------------------------------------*/
.videos {

    width: 100%;
    height: 100%;
}

/* add post--------------------------------------------------------------------------------------------------*/
.addpost {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding: 5px; */
    position: relative;


}



.addpost a{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    
    font-weight: 600;
    padding: 1px 5px;
    font-weight: 500;
    color: var(--black);
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
   
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

}

.addpost  button {
    border: none;

    border-radius: 5px;
    padding: 0px 5px;
    font-weight: 500;
   
    font-size: 1rem;
    background-color: #5352ed;
    color: var(--White);
   


}

.article-2 {
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
   
   max-height: 500px;
    min-height: 300px;
    overflow: hidden;
}

.article-box-1 {
    width: 100%;
    height: fit-content;
    height: 50px;
    padding: 0px;
    line-height: auto;
    display: flex;
    gap: 10px;

    margin-bottom: 5px;



}

.article-box-1 .profile-image {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0px;
}




#post-content {
    width: 100%;
    height: auto;
    min-height: 50PX;
    padding: 5px;
    text-overflow: ellipsis;
    text-overflow: inherit;
    border: none;
    background-color: var(--input-color);
    border-radius: 5px 5px;
    max-width: 500px;
    max-height: 500px;
}

#post-content:focus {
    outline: none;
}

#photo {
    display: none;
}

.addpost .article .post-img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
   
  
}
.addpost .article .post-img .photo {
    width: 100%;
  
    height: 100%;
   
    
  
   
  
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    min-width: 200px;
    min-height: 200px;
    max-width: 500px;
    max-height: 500px;
    background-color: black;
    border-radius: 5px;
  
   
   
  
}
.addpost .article .post-img .photo img {
   min-width: 200px;
   min-height: 200px;
   max-width: 500px;
   max-height: 500px;
   
    border-radius: 5px;
    height: fit-content;
    object-fit: contain;
    
    background-color: black;
    border-radius: 5px;
  
}



.date {
    font-size: 0.8rem;
}








/* popep-btn------------------------------------------------------------------------------------------------------------------------------ */
.popep-btn {

    border-radius: 30px;

    height: 40px;
    line-height: 40PX;

    position: fixed;
    display: flex;
    /* flex-direction: column; */
    gap: 15px;


    bottom: -100px;
    background-color:var(--popep-btn);
    color: var(--White);
    padding: 0 5px;



}

.popep-btn .btn {
    color: var(--White);
}

.popep-btn h2 {
    font-weight: 600;
    margin: 0;

}

.popep-btn button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    line-height: 30px;
    /* background-color: var(--gray);    */
    font-size: 1.2rem;



}

.popep-btn a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    color: var(--black);
    font-size: 1rem;
    color: var(--White);
}

#status-post {
    display: none;
}

.popep-btn .btn {
    padding: 0;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    font-size: 1rem;
}

/* profile ------------------------------------------------------------------------------------------------------*/
.profile {
    width: 100%;
    height: 100%;

}

/* status-------------------------------------------------------------------------------------------------------------------------- */
.status {

    min-height: 200px;
    width: 100%;
    padding: 10px 10px 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
 

}

.status .btn {
    width: 100px;

    height: 100%;
    padding: 0;
    margin: 0;

}



.create-status {
    width: 100px;
    height: 100%;




    border-radius: 5px;
    overflow: hidden;

    background-color: var(--White);
    /* border: 1px solid #b2bec3; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border: none;
}

.create-status label {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column
}

.create-status .box-1 {
    width: 100%;
    height: 100%;
    background-color: #888;


}

.create-status .box-2 {
    width: 100%;
    height: 50%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.create-status .box-2 p {
    width: 100%;
    margin: 0%;
    text-align: center;
    font-weight: 500;

}

.status-icon {


    position: absolute;
    top: -15px;
    left: 35px;



}

.icon-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--White);
    background-color: #333;

}

.post-status {

    width: 100%;
    height: 100%;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
}

.each-post {
    width: 100px;
    min-width: 100px;
    height: 100%;
   
    display: flex;

    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid var(--black); */
   
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   
   

}

.each-post img {
    width: 100%;
    height: 100%;
    

   

}

/* Add status------------------------------------------------------------------------------------------------------------------------ */
.Addstatus {
    width: 100%;
    height: 100%;
    max-width: 800px;
    /* max-height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    position: relative;

}

.Addstatus a{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    
    font-weight: 600;
    padding: 1px 5px;
    font-weight: 500;
    color: var(--black);
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
   
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

}

.Addstatus .status-img-box {

    width: 100%;
    height: fit-content;
    max-height: 600px;
    min-height: 300px;
   

   
    


    background-color:black;
    border-radius: 5px 5px 0 0;
    /* margin-bottom: 5px; */
    object-fit: cover;



}

.Addstatus .status-img-box img {
    width: 100%; 
    height: 100%; 
    /* object-fit: cover; */
    border-radius: 5px;
}

.Addstatus .status-img-box p {
    font-size: 1.4rem;
    font-weight: 700;

    color: var(--White);
}

.Addstatus label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Addstatus textarea {
    width: 100%;
    min-height: 50px;
    overflow-y: visible;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: var(--input-color);



}

.Addstatus textarea:focus {
    outline: none;
}

.Addstatus button {
    border: none;

    border-radius: 5px;
    padding: 0px 5px;
    font-weight: 600;
    background-color:var(--uplode-btn);
    color: #fff;
}

/* click-status */
.click-status {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.click-status a .back-button{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    background-color:var(--back-btn);
   
    padding: 1px 5px;
    font-weight: 500;

}
.click-status a  {
    color: var(--black);
    cursor: pointer;
}

.click-status img {
    width: 100%;
    max-width: 500px;
    max-height: fit-content;
    max-height: 75%;
    
    background-color: #888;
    border-radius: 5px;
    min-width: 200px;
    min-height: 200px;
    background-color: black;
}
.click-status p{
    font-weight: 600;
    width: 100%;
    text-align: center;
    max-width: 500px;
    font-size: 1.5rem;
    
}

/* clickpost------------------------------------------------------------------------------------------------------------------------------- */
.clickpost {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    position: relative;
}
/* .clickpost a{
    position: absolute;
    background-color: #5352ed;
} */
.clickpost a{
    color: var(--black);
    cursor: pointer;

}
.clickpost a .back-button{
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    border-radius: 2px;
    text-transform: capitalize;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    font-weight: 600;
    padding: 1px 5px;
    font-weight: 500;

}

.clickpost .article {
    width: 100%;
   
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.clickpost .article .box-3 {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.clickpost .article .box-3 .content {

    max-width: 600px;
    max-height: 100px;
    overflow-y: scroll;
}


.clickpost .article .box-3 .post-img {
    width: 100%;
   height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.clickpost .article .box-3 .post-img img {
    width: 100%;
    min-height: 200px;
    min-height: 200px;
    max-width: 600px;
    border-radius: 5px;
  
    max-height: 400px;
    background-color: black;
}

.edit-box {
    margin-left: auto;
    width: 10px;
    /* height: 20px; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: #6c5ce7; */
    color: #dfe6e9;
    cursor: pointer;
    position: relative;
}

.clickpost .article .box-1 .edit-box .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--black);

}

.clickpost .article .box-1 .edit-box .edit-optionbox {
    position: absolute;
    /* width: 100px; */
    /* width: 50%; */


    right: 20px;
    top: 20px;
   
    display: flex;
    flex-direction: column;
   
    gap: 5px;
    display: none;
}

.clickpost .article .box-1 .edit-box .edit-optionbox button {
    width: 60px;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 2px;
    outline: none;
    background-color: var(--back-btn);
    padding: 2px 5px;
}

.clickpost .article .box-3 .post-img {
    position: relative;
}

.clickpost .article .box-3 .content {
    width: 100%;
}

.clickpost .article .box-3 .post-img .Delete-option {
    width: 70%;
    height: 80px;
    max-width: 300px;
    /* height: 100px; */
    position: absolute;
    background-color: var(--black);
    color: var(--White);
    gap: 5px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 5px;
    display: none;

}

.clickpost .article .box-3 .post-img .Delete-option .alert {
    width: 100%;
    height: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;


}

.clickpost .article .box-3 .post-img .Delete-option .btngroup {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    padding: 0 10px;


}

.clickpost .article .box-3 .post-img .Delete-option .btngroup button {
    width: 100%;
    /* height: 90%; */
    border: none;
    border-radius: 5px;
    font-weight: 600;

}





/* Search --------------------------------------------------------------------------------------------------------------------------------*/
.search {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    position: relative;




}

.search .input {
    position: sticky;
    top: 0px;
    padding: 10px 0;
    background-color: var(--White);
    margin: 0;

}

.search input {
    position: sticky;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    /* background-color: var(--input-color); */
    border: none;
    /* border: 1px solid; */
   
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    margin-bottom: 10px;
    margin: 0;

}

.search input:focus {
    outline: none;

}

.search .feed {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    /* align-items: start; */
    flex-wrap: wrap;
    padding: 0;
    /* padding: auto; */
  
    
   
}



.search .feed .feed-box{
    
    max-width: 100%;
    /* background-color: red; */
    flex-grow: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    /* margin:  auto; */
}
.search .feed .feed-box .search-content {
    width: 100%;
    text-align: start;
    margin: 0;
}

.search .feed .feed-box a{
    width: 100%;
    height: 100%;
}

.search .feed .feed-box a .post-img{
    width: 100%;
    height: fit-content;

}
.search .feed .feed-box a  .secrch-post-img img{
    width: 100%;
    min-width: 100%;
    height: 200px;
 

  
    min-height: 250px;
    background-color: black;
    border-radius: 5px;
}





/* profile page----------------------------------------------------------------------------------------------------------------------- */
.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding: 5px;
    /* background-color: red; */
}

.profile-photo {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;

    align-items: center;
    /* margin-top: 10px; */
    

}

.profile-photo .photo-box {

    background-color: var(--input-color);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;

    align-items: center;
    justify-content: center;

    font-weight: 600;
    overflow: hidden;
    
}

.profile-photo .photo-box img {
    width: 100%;
    height: 100%;

}

.profile-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.form-box {
    width: 100%;
    display: flex;
    flex-direction: column;
   




}

.form-box label {
    font-weight: 700;

}

.form-box .box {

    height: 40px;
 
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
   

    align-items: center;
  
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; 
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
   
   
   
}

.form-box .box p {
    margin: 0;
}

.form-box input:focus {

    outline: none;
}

.form-box .box-bio {
    width: 100%;
    height: fit-content;
    border-radius: 5px;

    padding: 10px;
    /* border: 3px solid var(--input-color); */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

}

.edit-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    

   
}

.signout-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    background-color: transparent;
   
    color: var(--red);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   
   
}
.btn-group{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 5px;
}

/* notification-------------------------------------------------------------------------------------------------------------------- */
.notification {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow-y: scroll;
    scrollbar-width: none;


}

.notification .box {
    text-decoration: none;
    width: 100%;
    height: fit-content;
    /* background-color: var(--gray); */
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #d2dae2;
   
}

.notification .box a {
    text-decoration: none;
    width: 100%;
    height: fit-content;
    background-color: var(--gray);
    border-radius: 5px;
    bottom: 1px solid;
    color: var(--black);
}

.notification .box a p {
    padding: 2px 5px;
    margin: 0;
}


/* in large screen -------------------------------------------------------------------------------------------------------- */
.App .navbar{
    width: 350px;
    height: 100%;
    
   
   
    display: flex;
   
    align-items: center;
    justify-content: center;
   
   
    margin: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    cursor: pointer;
    user-select: none;
}
.App .navbar   h2{
  
    margin-bottom: 100px;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin: 30px 0;
  
}
.App .navbar   h2:hover{
    color: #6c5ce7;
}
.App .navbar nav{
    width: fit-content;
    height: fit-content;
 
    display: flex;
    flex-direction: column;
   
    margin:100px auto;
       
  
    gap: 30px;

}
.App .navbar nav a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.4rem;
    /* margin-left: 55px; */
    font-weight: 500;
    /* margin-top: 100px; */
    
  
}
.App .navbar nav a:hover{
    color: #6c5ce7;
}
.App .navbar nav a:checked{
    color: #6c5ce7;
}
